.carousel {
    padding-top: 100px;
    margin-bottom: 80px;
    min-height: 500px;
    &__inner {
        display: block;
        text-align: center;
        margin: 0 auto;
        max-height: 200px;
        margin-top: 50px;
    }
}